@charset "UTF-8";


/* @media screen and (min-width: 770px) and (max-width: 1220px) { 

section#login { 
    box-sizing: border-box;
    width: 40vw;
    height: 70vh;
}

div#desktop {
    display: none;
}

}*/

@media screen and (min-width: 1220px) {

section#login {
    box-sizing: border-box;
    width: 30vw;
    height: 90vh;
}

div#desktop {
    display: block;
    text-align: center;
}

div#desktop > h2 {
    color: red;
    font-size: 1em;
    margin-top: 10px;
}
div#desktop > p {
    padding: 8px;
    text-align: justify;
    font-size: 0.8em;
    font-display: fixed;
}

    
}